body {
    text-align: center;
    background: radial-gradient(circle, #111, #000);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    margin-top: 10px;
}

/* Score */
#scoreBoard {
    font-size: 18px;
    margin: 10px 0;
    color: #00ffcc;
}

/* LEFT controls */
#controls {
    position: fixed;
    left: 20px;
    top: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

button {
    width: 110px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background: #222;
    color: #00ffcc;
    border: 1px solid #00ffcc;
    border-radius: 6px;
}

button:hover {
    background: #00ffcc;
    color: #000;
}

/* Canvas */
canvas {
    display: block;
    margin: 30px auto;
    border: 4px solid #fff;
}

